.brands {
    padding: 30px 0;
    & .brand-item {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        height: 350px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
            
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 100%);
            z-index: 1;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
       
            
        .brand-caption {
            position: absolute;
            bottom: 40px;
            left: 20px;
            color: var(--white);
            font-weight: bold;
            font-size: 1.5rem;
            z-index: 10;
        }
    }
}
.show_brand {
    &_img {
        width: 20%;
        & img {
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    &-categories {
        & .brand_category {
            width: 240px;
            margin-right: 15px;
            margin-bottom: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 6px;
            
            
            background: var(--border-action);
            & a {
                font-size: 16px;
                color: var(--gray_card);
                &:hover {
                    color: var(--status_success);
                }
            }
        }
    }
}