.product-card {
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
  
    &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        height: 100%;
        .buy-button {
            bottom: 0;
            opacity: 1;
        }
    }
  
    .product-image {
        height: 200px;
        background-color: var(--color-card-bg);

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    
        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
  
    .product-name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }
  
    .price {
        color: var(--primary-color);
        font-size: 1.2rem;
        font-weight: 600;
    }
    .oldprice {
    
        margin-top: 0px;
        color: var(--danger);
        text-decoration: line-through;
        /* padding-left: 30px; */
        font-weight: 400;
        font-size: 16px;
        & span {
            color: var(--gray_card);
        }
    }
  
    .rating_icon {
        & .rating  {
            & .rate-select-layer {
                color: var(--yellow);
            }
           
        }
    }
  
    .buy-button {
        position: absolute;
        bottom: -50px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        color: white;
        border: none;
        padding: 10px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        transition: all 0.3s ease;
        opacity: 0;
  
        &:hover {
                background-color: #388E3C;
        }
    }
}
  
.product-row {
    margin-top: 50px;
}